<section id="sobremim">
    <div class="area-imagem">
        <img src="https://avatars.githubusercontent.com/gfguarnieri" alt="Imagem do desenvolvedor">
    </div>
    <div class="area-descricao">
        <span class="top-text">
            <span>🧐</span>
            <span>Sobre mim</span>
        </span>
        <h1 class="titulo">
            Giovanni Francesco Guarnieri
        </h1>
        <p>
            <span>👋🏼</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. as
        </p>
        <p>
            <span>👨🏻‍💻</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. asd asda
        </p>
        <p>
            <span>💡</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. asd asd asd as
        </p>
    </div>
</section>
<div class="linha"></div>