<section id="sobremim">
    <div class="area-imagem">
        <img src="https://avatars.githubusercontent.com/gfguarnieri" alt="Imagem do desenvolvedor">
    </div>
    <div class="area-descricao">
        <span class="top-text">
            <span>🧐</span>
            <span>Sobre mim</span>
        </span>
        <h1 class="titulo">
            Giovanni Francesco Guarnieri
        </h1>
        <p>
            <span>👋🏼</span> Olá! Meu nome é Giovanni e atualmente atuo como professor e desenvolvedor full-stack.
        </p>
        <p>
            <span>👨🏻‍💻</span> Sou tecnólogo em Gestão da Tecnologia da Informação, especialista em Banco de Dados e mestre em Ciência da Computação; possuo experiência em ministrar disciplinas da área de Desenvolvimento de Sistemas em escolas técnicas desde 2012. 
        </p>
        <p>
            <span>💡</span> Gosto de explorar as fronteiras tecnológicas, integrando ferramentas digitais de forma proativa em minha rotina para uma experiência mais eficiente e produtiva.
        </p>
    </div>
</section>
<div class="linha"></div>