#sobremim{
    width: var(--limit);
    display: flex;
    padding: 4rem 0;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    h1{
        font-size: 2rem;
    }
    .area-imagem{
        width: 45%;
        text-align: center;
        img{
            width: 20rem;
            border-radius: 1rem;
        }
    }
    .area-descricao{
        display: flex;
        flex-direction: column;
        width: 55%;
        gap: 1rem;
        p{
            color: rgba(var(--white), 0.5);
            span{
                padding-right: 0.5rem;
            }
        }
    }
}