#sobremim{
    width: var(--limit);
    display: flex;
    padding: 4rem 0;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    h1{
        font-size: 2rem;
    }
    .area-imagem{
        width: 45%;
        text-align: center;
        img{
            width: 20rem;
            border-radius: 1rem;
        }
    }
    .area-descricao{
        display: flex;
        flex-direction: column;
        width: 55%;
        gap: 1rem;
        p{
            color: rgba(var(--white), 0.5);
            span{
                padding-right: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 960px){
    #sobremim{
        flex-direction: column;
        align-items: center;
        justify-self: unset;
        .area-imagem{
            width: 100%;
            text-align: center;
        }
        .area-descricao{
            margin-top: 1rem;
            .top-text{
                margin: auto;
            }
            width: 100%;
            
        }

    }

}