<section id="apresentacao">

    <div class="saudacoes">
        <span class="top-text">
            <span>👋🏼</span>
            <span>Saudações!</span>
        </span>
        <h1 class="nome">
            Giovanni<br>Guarnieri
        </h1>
        <span class="cargo">
            Fullstack Developer at &#64;tecnologiaunica
        </span>
        <div class="links-saudacoes">
            <a href="#"><img src="/assets/images/linkedin.svg" alt="#"></a>
            <a href="#"><img src="/assets/images/github.svg" alt="#"></a>
        </div>
    </div>
    <div class="avatar">
        <div class="contorno-avatar"></div>
        <img src="/assets/images/avatar.png">        
        <div class="avatar-tec csharp">
            <i class="devicon-csharp-plain-wordmark"></i>
        </div>
        <div class="avatar-tec angular">
            <i class="devicon-angularjs-plain"></i>
        </div>
        <div class="avatar-tec sqlserver">
            <i class="devicon-microsoftsqlserver-plain"></i>
        </div>
        <div class="avatar-tec ionic">
            <i class="devicon-ionic-original"></i>
        </div>
    </div>
    <div class="cv">
        <a href="#">
            <span>Baixar CV </span>
            <span><img src="/assets/images/download.svg" alt="Baixar currículo"></span>
        </a>
    </div>

</section>