#apresentacao {
    width: var(--limit);
    margin: auto;
    display: flex;
    height: 32.5rem;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2rem;

    .saudacoes {
        width: 30%;
        flex: 1;
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        gap: 1.25rem;

        .top-text {
            width: 11rem;
            padding: 0.25rem 0.625rem;
            font-size: 1.25rem;
            background-color: rgba(var(--primary), 0.10);
            border-radius: 1rem;
            color: rgba(var(--primary), 1);

            span {
                padding: 0.25rem;
                font-weight: 700;
            }
        }

        .nome {
            color: rgb(var(--white));
            font-size: 3.25rem;
            font-weight: 700;
        }

        .cargo {
            color: rgba(var(--white), 0.5);
        }

        .links-saudacoes {
            display: flex;
            gap: 1rem;

            a {
                img {
                    border: solid transparent 2px;
                    border-radius: 50%;

                    &:hover {
                        border: solid rgb(var(--white)) 2px;
                    }
                }
            }


        }
    }

    .avatar {
        width: 50%;
        display: flex;
        justify-content: center;
        position: relative;

        .contorno-avatar {
            background-color: rgba(var(--primary), 0.50);
            position: absolute;
            filter: blur(0.165rem);
            border-radius: 50%;
            width: 25rem;
            height: 25rem;
        }

        img {
            position: relative;
            z-index: 2;
            width: 25rem;
            height: 25rem;
        }

        .avatar-tec {
            border-radius: 50%;
            position: absolute;
            animation: pulse 2s infinite;
            color: rgb(var(--white));
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            width: 7rem;
            height: 7rem;
            background-color: var(--secondary);
            z-index: 3;

            &.csharp {
                transform: translateX(-150%) scale(1.1);
            }

            &.angular {
                transform: translate(170%, 90%) scale(0.75);
            }

            &.sqlserver {
                transform: translate(-170%, 200%) scale(0.75);
            }

            &.ionic {
                transform: translate(170%, 275%) scale(1);
            }
        }
    }

    .cv {
        width: 30%;
        text-align: right;
        padding-right: 2rem;

        a {
            display: flex;
            justify-content: end;
            gap: 0.5rem;
            color: rgba(var(--primary), 0.80);
            font-size: 1.125rem;
            font-weight: 700;

            &:hover {
                color: rgba(var(--primary), 0.50);
            }
        }
    }
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(var(--primary), 0.5);
	}
	
	70% {
		box-shadow: 0 0 0 20px rgba(var(--primary), 0);
	}
	
	100% {
		box-shadow: 0 0 0 0 rgba(var(--primary), 0);
	}
}