<section id="trajetoria">
    <span class="top-text">
        <span>💼</span>
        <span>Carreira</span>
    </span>
    <h1 class="titulo">
        Trajetória até aqui
    </h1>

    <div class="tipo">
        <div class="area-profissional">
            <h2 class="subtitulo">
                Área profissional
            </h2>
            <span class="descricao">
                2013 - atualmente
            </span>
            <div class="lista-itens" *ngFor="let item of experienciaProfissionalList">
                <app-item-trajetoria [titulo]="item.titulo" [descricao]="item.descricao" [dataInicio]="item.dataInicio" [dataFim]="item.dataFim" [active]="item.ativo"></app-item-trajetoria>
            </div>
        </div>
        <div class="academica">
            <h2 class="subtitulo">
                Acadêmica
            </h2>
            <span class="descricao">
                2010 - atualmente
            </span>
            <div class="lista-itens" *ngFor="let item of formacaoAcademicaList">
                <app-item-trajetoria [titulo]="item.titulo" [descricao]="item.descricao" [dataInicio]="item.dataInicio" [dataFim]="item.dataFim" [active]="item.ativo"></app-item-trajetoria>
            </div>
        </div>
    </div>
</section>