<section id="experiencia">

    <div class="principais-icones">

        <div class="item">
            <i class="ph ph-graduation-cap"></i>
            <span class="tempo">
                10 anos como
            </span>
            <span class="cargo">
                Professor
            </span>
        </div>

        <div class="item">
            <i class="ph ph-lightbulb"></i>
            <span class="tempo">
                11 anos de
            </span>
            <span class="cargo">
                Projetos
            </span>
        </div>

        <div class="item">
            <i class="ph ph-brackets-angle"></i>
            <span class="tempo">
                13 anos como
            </span>
            <span class="cargo">
                Programador
            </span>
        </div>

    </div>

    <div class="principais-textual">
        <div class="item">
            <span class="titulo">
                Ideias
            </span>
            <span class="destaque">
                Incríveis
            </span>
        </div>
        <div class="item">
            <span class="titulo">
                Dezenas de
            </span>
            <span class="destaque">
                Soluções
            </span>
        </div>
        <div class="item">
            <span class="titulo">
                Desenvolvedor
            </span>
            <span class="destaque">
                Full-stack
            </span>
        </div>
    </div>

</section>

<div class="linha"></div>