header {
    width: var(--limit);
    margin: auto;
    height: 4rem;
    border-radius: 1rem;
    background-color: rgba(var(--primary), 0.20);
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    span {
        font-family: 'Dancing Script', cursive;
        color: rgba(var(--white), 1);
        font-size: 1.675em;
    }

    nav>ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        font-size: 1.00rem;

        a {
            color: rgba(var(--white), 0.5);
            &.active, &:hover {
                color: rgba(var(--primary), 0.5);
            }

        }
    }
}