<section id="skills">

    <span class="top-text">
        <span>👨🏻‍💻</span>
        <span>Skills e Experiências</span>
    </span>

    <h1 class="titulo">
        Tecnologias e habilidades
    </h1>

    <p>
        Techs que uso no dia a dia
    </p>

    <div class="lista-icons-dev">
        <i class="devicon-csharp-line colored" title="CSharp"></i>
        <i class="devicon-dot-net-plain colored" title="dot.net"></i>
        <i class="devicon-microsoftsqlserver-plain colored" title="Microsoft SQL Server"></i>
        <i class="devicon-angularjs-plain colored" title="Angular2+"></i>
        <i class="devicon-typescript-plain colored" title="TypeScript"></i>
        <i class="devicon-git-plain colored" title="Git"></i>
        <i class="devicon-azure-plain colored" title="Microsoft Azure"></i>
        <i class="devicon-html5-plain colored" title="HTML 5"></i>
        <i class="devicon-javascript-plain colored" title="Javascript"></i>
        <i class="devicon-css3-plain colored" title="CSS3"></i>
    </div>

    <p>
        Outras techs com que já realizei projetos
    </p>

    <div class="lista-icons-dev">
        <i class="devicon-java-plain colored" title="Java"></i>
        <i class="devicon-php-plain colored" title="PHP"></i>
        <i class="devicon-mysql-plain colored" title="MySQL"></i>
        <i class="devicon-python-plain colored" title="Python"></i>
        <i class="devicon-latex-original" title="Latex"></i>
        <i class="devicon-tailwindcss-plain colored" title="TailWindCSS"></i>
    </div>

</section>