/* You can add global styles to this file, and also import other style files */
:root{
    --primary: #7B4AE2;
    --secondary: #C83267;
    --tertiary: #090E16;
}
body{
    background-color: var(--tertiary);
}